@model  List<AkademiPlus_Transportation.Models.TblEmployee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminControllerLayout.cshtml";
}

<div style="margin-bottom:2px; margin-left:15px;" class="w3-quarter">
    <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-product-hunt w3-xxxlarge"></i></div>
        <div class="w3-right">
            <h3> @ViewBag.employeeCount </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Toplam Çalışan Sayısı</h4>
    </div>
</div>


<div class="w3-container">
    <h2 style="color: aliceblue"><span>►</span> Personel Listesi </h2>
    <table class="table table-bordered">
        <tr>
            <th style="background-color: darkkhaki">#</th>
            <th style="background-color: darkkhaki">Görsel</th>
            <th style="background-color: darkkhaki">Personel Adı</th>
            <th style="background-color: darkkhaki">Personel Soyadı</th>
            <th style="background-color: darkkhaki">Sil</th>
            <th style="background-color: darkkhaki">Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="background-color: darkkhaki">@item.EmployeeID</td>
                <td style="background-color: darkkhaki"><img src="@item.Employeeimage" style="width:80px; height:50px;" /></td>
                <td style="background-color: darkkhaki">@item.EmployeeName</td>
                <td style="background-color: darkkhaki">@item.EmployeSurname</td>
                <td style="background-color: darkkhaki"><a href="/Employee/DeleteEmployee/@item.EmployeeID" class="btn btn-danger">Sil</a></td>
                <td style="background-color: darkkhaki"><a href="/Employee/UpdateEmployee/@item.EmployeeID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Employee/AddEmployee/" class="btn btn-primary">Yeni Personel Kaydı</a>
</div>